.contact-title {
    margin: auto;
    text-align: center;
}
.phone-title {
    text-align: center;
}
.email-title {
    align-items: center;
}
.contact-container {
    background-image: linear-gradient(to right, white, rgb(117, 117, 117));
    padding-bottom: 124px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.grid-container {
    padding-top: 50px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 200px;
    align-items: center;
    justify-content: center;
}
.column {
    padding: 20px;
    margin: auto;
}
#envelope, #linked-in, #phone, #github {
    font-size: 48px;
    display: flex; /* Use flex display */
    justify-content: center;
    align-items: center;
}
.btn {
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
}
.btn:hover {
    opacity: 1;
    text-decoration: none;
}
.linkedin {
    color: #0072b1;
}
.github {
    color: black;
}
.github:hover {
    color: black;
}
@media screen and (max-width: 960px) {
    .grid-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}