/* video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
} */
 @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
 }
 @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.2); */
    object-fit: contain;
    animation: fadeIn;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
    background-image: linear-gradient(to right, white, rgb(117, 117, 117));
}
.body-title, .body-title-intro {
    display: flex;
    font-size: 80px;
    
}
.body-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
    display: flex;
    font-size: 1.5rem;
    position: relative;
}
.grid-container-hero {
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* column-gap: 100px;
    grid-template-columns: 30rem 30rem; */
    justify-content: center;
}
.border {
    border: none;
    height: 2px;
    background-color: black;
    margin: 20px 0;
}
@media screen and (max-width: 960px) {
    .body-title {
        font-size: 50px;
        text-align: center;
    }
    .border {
        margin: 10px 0;
    }
    .body-title-intro {
        text-align: center;
        font-size: 50px;
    }
    .grid-container-hero {
        align-items: center;
    }
}